<div id="content">
  <div class="content-background"></div>
  <div class="page">
    <div class="page-background"></div>
    <div class="page-sections">
      <div class="anchor" id="accommodations"></div>
      <div class="location-section">
        <div class="location-section-background"></div>
        <div class="location-section-title-border-top"></div>
        <div class="location-section-title"><%= t('details.accommodations.title') %></div>
        <div class="location-section-title-border-bottom"></div>
        <p class="location-section-description"></p>
        <div class="location-section-items">
          <div class="location-item">
            <div class="location-title item-title"><%= t('details.accommodations.double_tree.title') %></div>
            <div class="location-image-container">
              <img class="location-image" src="//media.front.xoedge.com/images/67075f64-332c-4324-bf75-48f9a1026bc4~rt_-cr_"/></div>
              <div class="location-address">
                <%= t('details.accommodations.double_tree.address') %><br/><%= t('details.accommodations.double_tree.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.accommodations.double_tree.description1_html') %></p>
                <p><%= t('details.accommodations.double_tree.description2_html') %><br></p>
              </div>
              <div class="location-button-container">
                <a href="http://doubletree3.hilton.com/en/hotels/costa-rica/doubletree-by-hilton-hotel-cariari-san-jose-costa-rica-SJODTDT/index.html" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#0251484d46562c466d77606e67767067674163706b63706b426a6b6e766d6c2c616d6f">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title"><%= t('details.accommodations.wyndham.title') %></div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/dd215640-5804-4aef-a570-53104f321136~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.accommodations.wyndham.address') %><br/><%= t('details.accommodations.wyndham.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.accommodations.wyndham.description1_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.wyndhamherradura.com/SJOaiporthotel-en.html" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#533425363d27322013242a3d373b323e3b36212132372621327d303c3e">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title"><%= t('details.accommodations.hotel_bougainvillea.title') %></div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/8f0ba740-7dd2-44d3-b62f-b77c793bcd30~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.accommodations.hotel_bougainvillea.address') %><br/><%= t('details.accommodations.hotel_bougainvillea.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.accommodations.hotel_bougainvillea.description1_html') %><br></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.hb.co.cr" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
          </div>
        </div>
        <div class="section-separator"></div>
        <div class="anchor" id="things-to-do"></div>
        <div class="location-section">
          <div class="location-section-background"></div>
          <div class="location-section-title-border-top"></div>
          <div class="location-section-title"><%= t('details.things_to_do.title') %></div>
          <div class="location-section-title-border-bottom"></div>
          <p class="location-section-description"></p>
          <div class="location-section-items">
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.baldi_hot_springs.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/94fd3dcb-db99-42ab-86dc-c325af770fab~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.baldi_hot_springs.address') %><br/><%= t('details.things_to_do.baldi_hot_springs.phone') %>
              </div>
              <div class="location-description">
                <p> <%= t('details.things_to_do.baldi_hot_springs.description1_html') %></p>
                <p> <%= t('details.things_to_do.baldi_hot_springs.description2_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="https://www.baldihotsprings.cr/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.montana_resort.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/64b3c27c-bc1e-48dd-a0ad-efbaf4682f0e~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.montana_resort.address') %><br/><%= t('details.things_to_do.montana_resort.phone') %>
              </div>
              <div class="location-description">
                <p> <%= t('details.things_to_do.montana_resort.description1_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.montanadefuego.com/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#234a4d454c634e4c4d57424d424746455646444c0d404c4e03">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.nayara.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/a34983b4-76da-4115-bf18-c5ae1f66e8c9~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.nayara.address') %><br/><%= t('details.things_to_do.nayara.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.nayara.description1_html') %></p>
                <p><%= t('details.things_to_do.nayara.description2_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.arenalnayara.com/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#c1a8afa7ae81afa0b8a0b3a0a9aeb5a4adb2efa2aeac">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title"><%= t('details.things_to_do.tabacon.title') %></div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/b8b69d9f-249c-4f9c-9775-b195edeaf208~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.tabacon.address') %><br/><%= t('details.things_to_do.tabacon.phone') %>
              </div>
              <div class="location-description">
                <%= t('details.things_to_do.tabacon.description1_html') %>
              </div>
              <div class="location-button-container">
                <a href="http://www.tabacon.com/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#1665777a736556627774777579783875797b">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title"><%= t('details.things_to_do.hacienda.title') %></div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/432b88c3-1945-4e85-b752-ee7bc92a91ef~rt_-cr_"/>
              </div>
              <div class="location-address"><%= t('details.things_to_do.hacienda.address') %><br/><%= t('details.things_to_do.hacienda.phone') %></div>
              <div class="location-description">
                <p><%= t('details.things_to_do.hacienda.description1_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.haciendapinilla.com/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#327b5c545d727a53515b575c5653625b5c5b5e5e531c515d5f">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title"><%= t('details.things_to_do.riu.title') %></div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/73bf8627-d4ac-46b8-a8b2-a9b7f25be2f6~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.riu.address') %><br/><%= t('details.things_to_do.riu.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.riu.description1_html') %></p>
                <p><%= t('details.things_to_do.riu.description2_html') %><br></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.riu.com/en/Paises/costa-rica/guanacaste/hotel-riu-guanacaste/index.jsp" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#740611171104001d1b1a5a1301151a15171507001134061d015a171b19">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.hotel_villas.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/48edcce0-82ee-422d-bf7c-1c713a785d93~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.hotel_villas.address') %><br/><%= t('details.things_to_do.hotel_villas.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.hotel_villas.description1_html') %></p>
                <p><%= t('details.things_to_do.hotel_villas.description2_html') %><br></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.villasplayasamara.com/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title"><%= t('details.things_to_do.monteverde_canopy_tour.title') %></div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/bd5da225-f856-4bc0-a073-544b0d394675~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.monteverde_canopy_tour.address') %><br/><%= t('details.things_to_do.monteverde_canopy_tour.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.monteverde_canopy_tour.description1_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.monteverdeinfo.com/canopy/costa-rica-canopy.htm" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.monteverde_night_tour.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/a2543f25-9bb1-4531-8fd6-5d4d12884416~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.monteverde_night_tour.address') %><br/><%= t('details.things_to_do.monteverde_night_tour.phone') %>
              </div>
              <div class="location-description">
                <%= t('details.things_to_do.monteverde_night_tour.description1_html') %>
              </div>
              <div class="location-button-container">
                <a href="http://www.monteverdeinfo.com/hidden-valley-night-tour/hidden-valley-night-tour.html" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#650c0b030a25080a0b110013001701000c0b030a4b060a08">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.monteverde_coffee_tour.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/b3248409-9856-4338-9649-6cb8c2803bb9~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.monteverde_coffee_tour.address') %><br/><%= t('details.things_to_do.monteverde_coffee_tour.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.monteverde_coffee_tour.description1_html') %></p>
                <p><%= t('details.things_to_do.monteverde_coffee_tour.description2_html') %></p>
                <p><%= t('details.things_to_do.monteverde_coffee_tour.description3_html') %></p>
                <p><%= t('details.things_to_do.monteverde_coffee_tour.description4_html') %></p>
                <p><%= t('details.things_to_do.monteverde_coffee_tour.description5_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.monteverdeinfo.com/cafe-monteverde-coffee-tour/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#bdd4d3dbd2fdd0d2d3c9d8cbd8cfd9d8d4d3dbd293ded2d0">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.almonds_and_corals.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/a53a17f8-280f-4eb2-aa88-d35195f8ebf9~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.almonds_and_corals.address') %><br/><%= t('details.things_to_do.almonds_and_corals.phone') %>
              </div>
              <div class="location-description">
                <%= t('details.things_to_do.almonds_and_corals.description1_html') %>
              </div>
              <div class="location-button-container">
                <a href="http://www.almendrosycorales.com/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#2b42454d446b4a474644454f584a454f4844594a475805484446">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.finca_rosa.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/691d4b25-4c11-4952-a6f5-e0bc6d199d7d~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.finca_rosa.address') %><br/><%= t('details.things_to_do.finca_rosa.phone') %>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.finca_rosa.description1_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="https://www.fincarosablanca.com/en/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#d0b9beb6bf90b6b9beb3b1a2bfa3b1b2bcb1beb3b1feb3bfbd">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.pacuare_river.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/204b3d9c-cfd4-4b01-8dd2-c6a10a3427aa~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.pacuare_river.address') %><br/><%= t('details.things_to_do.pacuare_river.phone') %>
              </div>
              <div class="location-description">
                <%= t('details.things_to_do.pacuare_river.description1_html') %>
              </div>
              <div class="location-button-container">
                <a href="http://www.riostropicales.com/index.php/adventure-travel/whitewater-rafting/pacuare-river-day-trip" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#6c05020a032c1e05031f181e031c050f0d00091f420f0301">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.punta_coral.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/1dc31d50-b2af-48c0-a005-c8811c943000~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.punta_coral.address') %><br/><%= t('details.things_to_do.punta_coral.phone')%>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.punta_coral.description1_html') %><br> </p>
                <p><%= t('details.things_to_do.punta_coral.description2_html') %></p>
                <p><%= t('details.things_to_do.punta_coral.description3_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.calypsocruises.com/About_us/Punta_Coral/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#d3babdb5bc9390b2bfaaa3a0bc90a1a6baa0b6a0fdb0bcbe">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.isla_tortuga.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/bd0a4e17-c239-481c-8813-0cf7af30690d~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.isla_tortuga.address') %><br/><%= t('details.things_to_do.isla_tortuga.phone')%>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.isla_tortuga.description1_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.calypsocruises.com/About_us/Tortuga_Island/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#2841464e47686b494451585b476b5a5d415b4d5b064b4745">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
              <div class="location-title item-title">
                <%= t('details.things_to_do.scuba_diving.title') %>
              </div>
              <div class="location-image-container">
                <img class="location-image" src="//media.front.xoedge.com/images/bfeb849c-0a08-442c-8755-5d94417cefc9~rt_-cr_"/>
              </div>
              <div class="location-address">
                <%= t('details.things_to_do.scuba_diving.address') %><br/><%= t('details.things_to_do.scuba_diving.phone')%>
              </div>
              <div class="location-description">
                <p><%= t('details.things_to_do.scuba_diving.description1_html') %></p>
                <p><%= t('details.things_to_do.scuba_diving.description2_html') %></p>
                <p><%= t('details.things_to_do.scuba_diving.description3_html') %></p>
              </div>
              <div class="location-button-container">
                <a href="http://www.calypsocruises.com/special_tours/diving/" rel="nofollow" target="_blank">
                  <button><%= t('details.buttons.website') %></button>
                </a>
                <a href="/cdn-cgi/l/email-protection#4e272028210e0d2f22373e3d210d3c3b273d2b3d602d2123">
                  <button><%= t('details.buttons.email') %></button>
                </a>
              </div>
            </div>
            <div class="location-separator"></div>
          </div>
        </div>
        <div class="section-separator"></div>
      </div>
    </div>
  </div>
</div>
