<div id="content">
  <div class="content-background"></div>
  <div class="page">
    <div class="page-background"></div>
    <div class="page-sections">
      <div class="photo-section">
        <div class="photo-section-title-container">
          <div class="photo-section-title">Tan &amp; Matt</div>
        </div>
        <div class="photo-section-items">
          <div class="col-sm-4">
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 1" class="photo-image" data-echo="//media.front.xoedge.com/images/a5f3b8a8-ddf1-4815-88b8-66ac6941fc5b~rs_325.h" data-height="417" data-width="556" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 2" class="photo-image" data-echo="//media.front.xoedge.com/images/0f774c89-5058-4df7-9a25-2367bf7bef21~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 3" class="photo-image" data-echo="//media.front.xoedge.com/images/bb164514-322c-4569-b314-03f04cc03fc7~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 4" class="photo-image" data-echo="//media.front.xoedge.com/images/d517b480-43b7-47a5-b658-ddc4e5e89705~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 5" class="photo-image" data-echo="//media.front.xoedge.com/images/080ed378-4235-43bc-9ef1-20c562ea9d56~rs_325.h" data-height="640" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 6" class="photo-image" data-echo="//media.front.xoedge.com/images/a946b356-d3cc-4370-bfa4-3576f233d807~rs_325.h" data-height="741" data-width="417" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 7" class="photo-image" data-echo="//media.front.xoedge.com/images/cf241af2-50f4-4c49-bf29-7bfedd4f6f7a~rs_325.h" data-height="417" data-width="556" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 8" class="photo-image" data-echo="//media.front.xoedge.com/images/14374924-6211-43b2-b91c-544674589542~rs_325.h" data-height="417" data-width="556" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 9" class="photo-image" data-echo="//media.front.xoedge.com/images/c15e51bb-6fdd-459e-a4c8-1c9e6d868ff2~rs_325.h" data-height="960" data-width="640" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 10" class="photo-image" data-echo="//media.front.xoedge.com/images/92ab3d2f-bc73-478d-baa7-0e5abb289c5b~rs_325.h" data-height="717" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 11" class="photo-image" data-echo="//media.front.xoedge.com/images/c90308da-2f00-49ed-b5a4-9041eaee6d2e~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 12" class="photo-image" data-echo="//media.front.xoedge.com/images/54fc8576-5b7c-4d17-851e-8387fb128783~rs_325.h" data-height="640" data-width="480" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 13" class="photo-image" data-echo="//media.front.xoedge.com/images/60cc9bc0-7d0b-4d7f-9189-d94a1e366aee~rs_325.h" data-height="960" data-width="539" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 14" class="photo-image" data-echo="//media.front.xoedge.com/images/e71dac29-7d66-40a1-a1d5-9999e0f045eb~rs_325.h" data-height="960" data-width="640" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 15" class="photo-image" data-echo="//media.front.xoedge.com/images/42f3028d-69ba-485c-85d0-9de5e1e04ed1~rs_325.h" data-height="417" data-width="741" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 16" class="photo-image" data-echo="//media.front.xoedge.com/images/6c1d28a0-c6b9-4029-b8de-4cd00664258f~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 17" class="photo-image" data-echo="//media.front.xoedge.com/images/e0f40c48-5713-4980-842c-834ab14d774e~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 18" class="photo-image" data-echo="//media.front.xoedge.com/images/fe2ec0bd-bd79-4534-8bcb-66279d8c6544~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 19" class="photo-image" data-echo="//media.front.xoedge.com/images/31540937-1908-427f-9fd7-f8d6f534abc5~rs_325.h" data-height="625" data-width="417" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 20" class="photo-image" data-echo="//media.front.xoedge.com/images/0d412917-3ff8-46a8-b3a9-f74932d9b843~rs_325.h" data-height="417" data-width="741" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 21" class="photo-image" data-echo="//media.front.xoedge.com/images/6520d21a-dd78-4420-9481-d66a0c91c62d~rs_325.h" data-height="640" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 22" class="photo-image" data-echo="//media.front.xoedge.com/images/e4c4fb64-876e-44a1-b152-304bb9624eae~rs_325.h" data-height="417" data-width="556" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 23" class="photo-image" data-echo="//media.front.xoedge.com/images/fc2fcbe0-9eb4-4642-a243-4a2bc0956b9d~rs_325.h" data-height="960" data-width="720" src="<%= asset_path 'loading.png' %>"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 1" class="photo-image" data-echo="//media.front.xoedge.com/images/9c339895-d1f0-44d8-acc3-247df3b8fcd0~rs_325.h" data-height="417" data-width="556" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 2" class="photo-image" data-echo="//media.front.xoedge.com/images/bc432fc4-6504-4573-8192-617d770d2ba8~rs_325.h" data-height="556" data-width="417" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 3" class="photo-image" data-echo="//media.front.xoedge.com/images/ea7fd4b8-223e-48e9-921c-2e5fddb80307~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 4" class="photo-image" data-echo="//media.front.xoedge.com/images/3cae9950-f30d-4d71-b417-04c43b071543~rs_325.h" data-height="417" data-width="625" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 5" class="photo-image" data-echo="//media.front.xoedge.com/images/fd91e8eb-8652-4f92-b0bb-d1d1ee12fa30~rs_325.h" data-height="960" data-width="640" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 6" class="photo-image" data-echo="//media.front.xoedge.com/images/bda237b9-c855-4fd3-a55a-4b610484fdbc~rs_325.h" data-height="960" data-width="720" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 7" class="photo-image" data-echo="//media.front.xoedge.com/images/d6677866-97a8-45b5-a1ff-fbad5da1ce9c~rs_325.h" data-height="960" data-width="640" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 8" class="photo-image" data-echo="//media.front.xoedge.com/images/5027ec4c-11df-47a4-a49a-75e1fdc7c954~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 9" class="photo-image" data-echo="//media.front.xoedge.com/images/ff1fc61b-f785-4a22-b171-f3743a1c9f0e~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 10" class="photo-image" data-echo="//media.front.xoedge.com/images/d32d834d-4928-4304-ba9b-3c51a1a76724~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 11" class="photo-image" data-echo="//media.front.xoedge.com/images/f7e12350-96dd-40b5-859a-96a1cb9431c9~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 12" class="photo-image" data-echo="//media.front.xoedge.com/images/f897f668-82fe-4ec8-8cd7-ed2b02a111d7~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 13" class="photo-image" data-echo="//media.front.xoedge.com/images/d307876d-87bf-4c2f-81f9-6f22648605fd~rs_325.h" data-height="417" data-width="558" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 14" class="photo-image" data-echo="//media.front.xoedge.com/images/4a7ebade-0746-45d9-8954-cf5241ae9cc3~rs_325.h" data-height="960" data-width="640" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 15" class="photo-image" data-echo="//media.front.xoedge.com/images/a38cc4c6-4dd0-4328-9e4a-e2142f9a87e0~rs_325.h" data-height="417" data-width="625" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 16" class="photo-image" data-echo="//media.front.xoedge.com/images/94bad162-f55f-48da-9872-487bedce6eeb~rs_325.h" data-height="667" data-width="1000" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 17" class="photo-image" data-echo="//media.front.xoedge.com/images/37c2446c-175b-4d31-a6f8-9f6e73c09529~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 18" class="photo-image" data-echo="//media.front.xoedge.com/images/97f49bda-ae29-4ef7-a2ed-8c001ea381e4~rs_325.h" data-height="741" data-width="417" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 19" class="photo-image" data-echo="//media.front.xoedge.com/images/8c3ed3b7-d78b-441d-94a7-cd17752ec392~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 20" class="photo-image" data-echo="//media.front.xoedge.com/images/cd597d72-d41c-4dec-85be-dd6e463f275f~rs_325.h" data-height="667" data-width="1000" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 21" class="photo-image" data-echo="//media.front.xoedge.com/images/dc395d12-dab3-4368-a5be-b10700a4ddc3~rs_325.h" data-height="417" data-width="741" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 22" class="photo-image" data-echo="//media.front.xoedge.com/images/bd822dbe-b804-4c1c-9aba-15fffe018f73~rs_325.h" data-height="640" data-width="640" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 23" class="photo-image" data-echo="//media.front.xoedge.com/images/f91fbc5e-d3e2-4bcc-8cbe-c62d8a13d79e~rs_325.h" data-height="960" data-width="640" src="<%= asset_path 'loading.png' %>"/></div></div><div class="col-sm-4"><div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 1" class="photo-image" data-echo="//media.front.xoedge.com/images/29d2310a-9268-4773-801d-5605f40fd49f~rs_325.h" data-height="640" data-width="480" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 2" class="photo-image" data-echo="//media.front.xoedge.com/images/43be4765-c8da-40f3-a146-3f5583dff0d7~rs_325.h" data-height="540" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 3" class="photo-image" data-echo="//media.front.xoedge.com/images/6aaaa3c1-6368-44cd-bfbf-f416c304d9ef~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 4" class="photo-image" data-echo="//media.front.xoedge.com/images/f7f7db38-d1c5-4186-bce4-09e0b5058ebf~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 5" class="photo-image" data-echo="//media.front.xoedge.com/images/c34336cd-45f5-49d6-be55-bfca4d183cd7~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 6" class="photo-image" data-echo="//media.front.xoedge.com/images/76b105cb-be78-4e17-8423-ab2e177c4be9~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 7" class="photo-image" data-echo="//media.front.xoedge.com/images/88ec1bbd-22e3-4017-bf1d-c688b47270f6~rs_325.h" data-height="640" data-width="480" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 8" class="photo-image" data-echo="//media.front.xoedge.com/images/ca71cd36-a04a-4ff9-9a62-f0aac2ebddf3~rs_325.h" data-height="717" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 9" class="photo-image" data-echo="//media.front.xoedge.com/images/38b5deb0-275e-4a65-8b29-7ac27710b7f2~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 10" class="photo-image" data-echo="//media.front.xoedge.com/images/9a1786ce-4f33-44eb-a075-f0cb49414b70~rs_325.h" data-height="667" data-width="1000" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 11" class="photo-image" data-echo="//media.front.xoedge.com/images/f4b8a16a-a55c-46c8-bbc7-a8092600ce9f~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 12" class="photo-image" data-echo="//media.front.xoedge.com/images/515bcae6-5f1d-4d5b-97bd-50014c4641fb~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 13" class="photo-image" data-echo="//media.front.xoedge.com/images/aa7b0b44-0ec0-49d9-b8b1-800c1e85bf64~rs_325.h" data-height="667" data-width="1000" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 14" class="photo-image" data-echo="//media.front.xoedge.com/images/291711cb-b1d1-4abe-bf72-a58a303866c3~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 15" class="photo-image" data-echo="//media.front.xoedge.com/images/79403c80-3bd9-44e9-8e4d-7f25c3b665cd~rs_325.h" data-height="417" data-width="556" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 16" class="photo-image" data-echo="//media.front.xoedge.com/images/fd5b2af6-554a-4cff-8ffc-931cd228a601~rs_325.h" data-height="640" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 17" class="photo-image" data-echo="//media.front.xoedge.com/images/0f528fbc-d4e1-4d89-b2ca-5e8666384640~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 18" class="photo-image" data-echo="//media.front.xoedge.com/images/6ec8ce88-ab32-46cd-908a-184f11e4ecb4~rs_325.h" data-height="960" data-width="640" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 19" class="photo-image" data-echo="//media.front.xoedge.com/images/be84f26b-dc06-4cee-8f2e-8d514fa03257~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 20" class="photo-image" data-echo="//media.front.xoedge.com/images/daf5bdc2-6e5f-4b95-8333-f7afb8f17e7e~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 21" class="photo-image" data-echo="//media.front.xoedge.com/images/124461e1-07c7-405e-b6d0-7b9977941653~rs_325.h" data-height="960" data-width="540" src="<%= asset_path 'loading.png' %>"/>
            </div>
            <div class="js-photo photo-item">
              <img alt="Tania Sibaja and Matthew Wagner Wedding Photo 22" class="photo-image" data-echo="//media.front.xoedge.com/images/4061dfe5-fd00-4965-b542-ea8f6a0b1f9a~rs_325.h" data-height="720" data-width="960" src="<%= asset_path 'loading.png' %>"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
